.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #17a2b8;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color:  #17a2b8;
  ;
}

#container {
  padding-bottom: 20px;
}

/* See KH-26 */
h4 {
  margin-bottom: 0px;
}

/* See KH-28 */
.card-deck {
  margin-left: 0px;
  margin-right: 0px;
  }

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
